{:tasks {test           (shell "clojure -X:test")
         ; Check style
         style:cljfmt   (shell "cljfmt check")
         style:cljstyle (shell "cljstyle check")
         style:splint   (shell "lein splint ./src ./test")
         lint           (do (run 'style:cljfmt)
                            (run 'style:cljstyle)
                            (run 'lint:eastwood)
                            (run 'lint:kondo))
         ; Autofix style
         fix:cljfmt     (shell "cljfmt fix")
         fix:cljstyle   (shell "cljstyle fix")
         fix            (do (run 'fix:cljfmt)
                            (run 'fix:cljstyle))
         ; Linters
         lint:eastwood  (shell "clojure -M:test:eastwood")
         lint:kondo     (shell "clj-kondo --parallel --fail-level warning --lint test src")
         ; Local development
         pre-push       (do (run 'fix)
                            (run 'lint)
                            (run 'test))}}
