{:aliases {:dev  {:main-opts ["-e" "(require, 'dev)"
                              "-e" "(in-ns, 'dev)"]}
           :test {:extra-paths ["test"]
                  :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts   ["-m" "cognitect.test-runner"]
                  :exec-fn     cognitect.test-runner.api/test}}
 :paths   ["src" "resources" "dev"]}
